---
import Python from "../icons/skills/Python.astro";
import Django from "../icons/skills/Django.astro";
import Docker from "../icons/skills/Docker.astro";
import Nodejs from "../icons/skills/Nodejs.astro";
import Expressjs from "../icons/skills/Expressjs.astro";
import SkillCard from "../SkillCard.astro";
import TitleSkills from "./TitleSkills.astro";
import Java from "../icons/skills/Java.astro";
import { getXPYears } from "@/utils/getXPYears";

const { iconSize } = Astro.props;
---

<section {...Astro.props}>
  <TitleSkills> Backend </TitleSkills>
  <div class="flex gap-6 items-center flex-wrap">
    <SkillCard text={`+${getXPYears(2023)} Años`} name="Python">
      <Python class={`${iconSize}`} />
    </SkillCard>
    <SkillCard text={`+${getXPYears(2023)} Años`} name="Django">
      <Django class={`${iconSize}`} />
    </SkillCard>
    <SkillCard text={`+${getXPYears(2023)} Años`} name="NodeJS">
      <Nodejs class={`${iconSize}`} />
    </SkillCard>
    <SkillCard text={`+${getXPYears(2025)} Años`} name="ExpressJS">
      <Expressjs class={`${iconSize}`} />
    </SkillCard>
    <SkillCard text={`+${getXPYears(2025)} Años`} name="Java">
      <Java class={`${iconSize}`} />
    </SkillCard>
    <SkillCard text={`+${getXPYears(2025)} Años`} name="Docker">
      <Docker class={`${iconSize}`} />
    </SkillCard>
  </div>
</section>
