---
import Tailwind from "../icons/skills/Tailwind.astro";
import Shadcn from "../icons/skills/Shadcn.astro";
import Html from "../icons/skills/Html.astro";
import Css from "../icons/skills/Css.astro";
import Javascript from "../icons/skills/Javascript.astro";
import React from "../icons/skills/React.astro";
import AstroIcon from "../icons/skills/AstroIcon.astro";
import Nextjs from "../icons/skills/Nextjs.astro";
import SkillCard from "../SkillCard.astro";
import TitleSkills from "./TitleSkills.astro";
import TypeScript from "../icons/skills/TypeScript.astro";
import { getXPYears } from "@/utils/getXPYears";

const { iconSize } = Astro.props;
---

<section {...Astro.props}>
  <TitleSkills> Frontend </TitleSkills>
  <div class="flex gap-6 items-center flex-wrap">
    <SkillCard text={`+${getXPYears(2022)} Años`} name="HTML">
      <Html class={`${iconSize}`} />
    </SkillCard>
    <SkillCard text={`+${getXPYears(2022)} Años`} name="CSS">
      <Css class={`${iconSize}`} />
    </SkillCard>
    <SkillCard text={`+${getXPYears(2022)} Años`} name="JavaScript">
      <Javascript class={`${iconSize}`} />
    </SkillCard>
    <SkillCard text={`+${getXPYears(2023)} Años`} name="TypeScript">
      <TypeScript class={`${iconSize}`} />
    </SkillCard>
    <SkillCard text={`+${getXPYears(2023)} Años`} name="Tailwind">
      <Tailwind class={`${iconSize}`} />
    </SkillCard>
    <SkillCard text={`+${getXPYears(2024)} Años`} name="ShadCN">
      <Shadcn class={`${iconSize}`} />
    </SkillCard>
    <SkillCard text={`+${getXPYears(2024)} Años`} name="React">
      <React class={`${iconSize}`} />
    </SkillCard>
    <SkillCard text={`+${getXPYears(2024)} Años`} name="Astro">
      <AstroIcon extraClassName={`${iconSize}`} />
    </SkillCard>
    <SkillCard text={`+${getXPYears(2024)} Años`} name="NextJS">
      <Nextjs class={`${iconSize}`} />
    </SkillCard>
  </div>
</section>
